html, body{
    margin: 0;
    padding: 0;
}

body {
    height: 110%;
    width: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.6;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle at 87.5% 12.5%, #eda840 0, #f49e40 7.14%, #fa9241 14.29%, #fe8544 21.43%, #ff7647 28.57%, #ff654c 35.71%, #ff5152 42.86%, #ff3858 50%, #fa1060 57.14%, #f5006a 64.29%, #ed0076 71.43%, #e30083 78.57%, #d70091 85.71%, #c800a0 92.86%, #b600b0 100%);
}

.navbar {
    background-color: rgb(33, 50, 54);
}

.navbar img {
    display: flex;
    justify-content: start;
    width: 130px;
    height: 80px;
    border-radius: 20px;
}


#productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.imagen {
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 15px 10px 10px rgb(8, 12, 63);
}

.claseProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtrado {
    width: 17%;
    margin-bottom: 10px;
} 

#contenerdorBotones {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

#contenerdorBotones button{
    margin: 10px;
    border-radius: 5px;
    font-weight: 1000;
    background-color: #64b984;
}

#contenerdorBotones p{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    font-weight: 1000;
}

.pDelFiltro {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 20px;
    font-weight: 1000;
}

.titulo1 {
    text-align: center;
    font-size: 40px;
    color: #000000;
    margin-top: 50px;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tituloProducto {
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 1000;
    color: #000000;
}

.precioProducto {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 1000;
    color: #000000;
}

.unidadesProducto {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 1000;
    color: #000000;
}

.botonCarrito {
    display: flex;
    justify-content: center;
    margin-left: 82px;
    font-size: 18px;
    background-color: #00e1ff9c;
    font-weight: 1000;
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.671);
    margin-bottom: 20px;
}

.botonCarrito:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: inset 200px 0 0 0 #f3a806dc;
    transition: ease-out .6s;
    outline: none;
}

.prueba{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.oculto {
    display: none;
}

#encabezadoCarrito {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contenidoDelCarrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contenidoDelCarrito2{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
}


#contenedorCarritoVacio  {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; 
}

#contenedorCarritoVacio p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.esconder {
    display: none;
}

#carrito{
    border: 2px solid black;
    height: 100%;
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #40edd696;
    font-weight: 1000;
}

#carrito p{
    margin: .2rem;
}

#contenedorCarritoDeCompras {
    display: flex;
    justify-content: end;
    align-items: end;
    border-radius: 10px;
    font-size: 35px;
    margin: 10px;
    background: radial-gradient(circle at 87.5% 12.5%, #eda840 0, #f49e40 7.14%, #fa9241 14.29%, #fe8544 21.43%, #ff7647 28.57%, #ff654c 35.71%, #ff5152 42.86%);
}

#finalizarCompra {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    background-color: #64b984;
    font-weight: 1000;
}

#vaciarCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    background-color: #64b984;
    font-weight: 1000;
}

.botonEliminar {
    cursor: pointer;
}

.botonNavbar {
    background: #fa9241;
}




